@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --amber-glow: #f99e1a;
    --dodger-blue: #218ffe;
    --powder-blue: #a8b8cf;
    --dusk-blue: #405275;
    --prussian-blue: #0e1326;
    --white: #ffffff;
}

body {
    background-color: var(--powder-blue);
    font-family: 'Roboto', sans-serif;
    margin: 20px; /* Espace extérieur */
    padding: 20px;
    border: 5px solid var(--dusk-blue); /* Bordure body */
    text-align: center;
}

header {
    font-family: 'Oswald', sans-serif;
    background-color: var(--dusk-blue);
    color: var(--white);
    margin-bottom: 40px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    background-color: var(--dusk-blue);
    color: var(--white);
    margin: 0;
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Arrondi pour tous les h2 */
}

main {
    max-width: 800px;
    margin: 0 auto;
}

/* Espacement entre les blocs projets */
.projet-bloc {
    margin-bottom: 50px; 
}

.projet-bloc h2 {
    border-radius: 8px 8px 0 0;
}

.projet-bloc p {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--prussian-blue);
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 0 8px 8px;
}

/* Grille Responsive pour les images */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

img {
    width: 100%;
    height: 200px; /* Hauteur fixe pour uniformiser la grille */
    object-fit: cover; /* Recadre l'image pour qu'elle ne soit pas déformée */
    border: 2px solid var(--dusk-blue);
}